body {
    width:834px;
}
nav {
    background-color: blue;
    position:absolute;
    top:0;
    width:834px;
    margin: auto 0;
    display:block;
}
h1 {
    float:left;
    color:white;
}
ul li {
    list-style: none;
    float:right;
    padding-top:5px;

}

li {
    padding:10px;
    width:80px;
}

main {

  margin-top:69px;
  width: 100%;
  background-color: red;

}