 body {
    width:834px;
    background-color: #020659 ;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: raleway, sans-serif;
}
 /* This is nav section */

 nav {
    background-color: #030A8C;
    height:60px;
    position: relative;
}
 
.nav-headline  {
    float:left;
    color:white;
    left:-40px;
    position: relative;
    font-size:25px;
    height:45px;
    font-weight: bold;
    
}
li.nav-headline {
    padding-top:14px;
    position: relative;
}

ul li {
    list-style: none;
    float:right;

}

li {
    padding: 0 40px 0 40px;
    position: relative;
    padding-top:10px;
    height:51px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-style: normal;
    color:white;
} 
li:hover {
    background: #590242;
}

/* Smooth Jazz / Main section */
main {
  width: 100%;
  padding-bottom:15px;
  color:white;
  background: rgb(33,2,217);
  background: linear-gradient(90deg, rgba(33,2,217,1) 7%, rgba(3,10,140,1) 21%, rgba(1,12,20,1) 89%);
}
main p {
    margin-bottom: 0;
    padding-left:30px;
}
h2 {
    padding-left:30px;
    font-family: raleway, sans-serif;
    font-weight: bold;
    font-style: normal;
}

/* Trending section */
h3 {
    margin-top:0;
    padding-left:30px;
    padding-bottom:5px;
    color:#590242;
}
.content {
    background-color: white;
    padding-top:40px;
    height: 1050px;
}
.trending {
    display: flex;
    top:-20px;
    position: relative;
    z-index: 2;
}
.align-button-right {
    display: flex;
    justify-content: flex-end;
}
/* trending scroll */
#trending-scroll {
    overflow-x:auto;
    overflow-y: hidden;

}
#trending-scroll::-webkit-scrollbar {
    width:15px;

}
#trending-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;

}
#trending-scroll::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;

}
#trending-scroll::-webkit-scrollbar-thumb:hover {
background: #020659;
}
/* trending position of text/images/audio */
.horizontal-songs {
    display:flex;
    flex: 33.33%;
    padding: 10px;
    height: 300px;
}
h4  {
    margin: 0;
    margin-top:10px;
}
.margin-reset {
    margin:0;
    margin-top:4px;
}
.inner-trending-text {
    background: rgba(255, 255, 255, 0.7);
    position:absolute; 
    top:250px;
    padding-bottom:20px;
    height: 40px;
    width:290px;
    overflow-x:auto;
    overflow-y: hidden;
    color:  #590242;
    padding-left:12px;
}

/* audio */

audio {
    position:absolute; 
    top:130px;
    overflow-x:auto;
    overflow-y: hidden;
} 
audio::-webkit-media-controls-mute-button {
    border-radius: 50%;
    background-color: white;
}
audio::-webkit-media-controls-play-button {
    border-radius: 50%;
    background-color: white;
}
audio::-webkit-media-controls-enclosure {
    background: rgba(255, 255, 255, 0.5);

}

/* trending button */

button {
   padding-left: 35px;
   padding-right: 35px;
   padding-bottom:5px;
   margin-right:10px;
   font-size: 15px;
   background-color: #590242;
   font-family: raleway, sans-serif;
    font-style: normal;
    color:white;
   border-color: #590242;
   border-radius: 5px;
   height: 40px;
}
.trending-button {
    margin-top: -9px;
}

/* your playlist / curated playtlists grid & style */


.wrapper-both-playlists {
    display: grid;
  grid-template-columns: 417px 417px;
  /* place-items: center */
}

.your-playlists {
    width: 417px;
    height:500px;
    background-color: #2699FB;
    display:grid;
    grid-template-columns: 1fr;
}
.curated-playlists {
    width: 417px;
    height:500px;
    background-color:  #030A8C;
    display:grid;
    grid-template-columns: 1fr;
}
.your-playlist-cards {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:10px;
    background-color: #0D8DFB ;
    text-align: center;
    padding:8px;
    color:white;

} 
.curated-playlist-cards {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:10px;
    background-color:   #020873 ;
    text-align: center;
    padding:8px;
    color:white;

} 
.playlist-heading {
    margin-top:20px;
    margin-bottom:5px;
    text-transform: uppercase;
    font-family: raleway, sans-serif;
    font-style: normal;
}
.playlists-button {
   margin-top:10px;
   margin-left: 220px;
}
.align-side-text h4 {
    text-transform: uppercase;
}
button:hover {
    background-color: #020659;
    border-color: #020659;
    transition: 0.5s;
}

footer {
    padding-bottom:20px;
    background-color: white;
    text-align: center;
}
footer p {
    margin:0;
    font-size: 12px;
    color:#590242;
}

/* scroll for playlists */
#playlists-first  {
   overflow-x: hidden;
    overflow-y: auto;
   
}
#playlists-first::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width:15px;

}
#playlists-first::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #020659;

}
#playlists-first::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;

}
#playlists-first::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: white;

}

#playlists-second  {
    overflow-x: hidden;
     overflow-y: auto;
    
 }
 #playlists-second::-webkit-scrollbar, #curated ::-webkit-scrollbar {
     width:15px;
 
 }
 #playlists-second::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
     box-shadow: inset 0 0 15px #020659;
 
 }
 #playlists-second::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
     background: #020659;
     border-radius: 5px;
 
 }
 #playlists-second::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
     background: white;
 
 }



/* media query */



@media screen and (max-width:830px) {
    body {
       width:375px;
       margin-bottom:0;
      overflow-x: hidden;
      font-family: raleway, sans-serif;
    }
    .content {
        width:375px;
        height:1350px;
    }
    .wrapper-both-playlists {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-columns: 375px;
    }
    .your-playlists {
        width:355px;
        margin-bottom:120px; 
        display:flex;
        flex: 33.33%;
        padding: 10px;
        height: 300px;
    }
    .your-playlist-cards {
        display:grid;
        grid-template-columns: 1fr;

    }
    .curated-playlists  {
        width:355px;
        padding-bottom:20px; 
        display:flex;
        flex: 33.33%;
        padding: 10px;
        height: 300px;
    }
    .curated-playlist-cards {
        display:grid;
        grid-template-columns: 1fr;
        
    }
    .inner-trending-text {

        z-index:1;
    }
    .trending-button {
        margin-right: 156px;
        position: relative;
        margin-bottom:12px;
        width:190px;
    }
    #playlists-second {
        overflow-x: auto;
         overflow-y: hidden;
     }
     #playlists-first {
        overflow-x: auto;
         overflow-y: hidden;
     }
     
     .curated-playlist-heading {
        position:absolute;
        margin-top:407px;
        margin-right:40px;
        width:380px;
        margin-bottom:10px
     }
     .your-playlists-button {
        position: relative;
        bottom: 439px;
        left: -195px;
        width:190px;
     }
     .more-curated-button {
        position: relative;
        right: 198px;
        width:190px;
        top: -49px;
     }
    
     ul li {
        list-style: none;
        font-size:18px;
        text-align: center;
        left:25px;
        width:100%;
       
    }
    li {
        width:100px;
    }
    li.nav-headline {
        position:absolute;
        left: 103px;
        padding-left:10px;
        width:120px;
        top:0px;
    }
    }


  
    ul {
        overflow: hidden;
        max-height: 0;
        transition: max-height .2s ease-out;
        background:  #2104D9;
        margin-top:-1px;
        z-index: 3;
    }
   
    label {
        cursor: pointer;
        display: inline-block;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    label span {
        background-color: #ffffff;
        display: block;
        height: 2px;
        position: relative;
        transition: background-color .2s ease-out;
        width: 18px;
    }
    label span:before, label span:after {
        background: #ffffff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    label span:before {
        top: 5px;
    }
    label span:after {
        top: -5px;
    }
    input {
        display: none;
    }
    input:checked ~ ul {
        max-height: 500px;
    }
    input:checked ~ label span {
        background: transparent;
    }
    input:checked ~ label span:before {
        transform: rotate(-45deg);
    }
    input:checked ~ label span:after {
        transform: rotate(45deg);
    }
    input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
        top: 0;
    }
    
    @media screen and (min-width:834px) {
        ul {
            overflow: visible;
            position: absolute;
            top: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
        label span, input {
            display: none;
        }
    }


